{% extends 'base.html.twig' %}

{% set hasColumn = mainpage.hasActions or mainpage.hasNews or mainpage.hasArticles %}

{% block title -%}
    {{ mainpage.getTitle }}
{%- endblock title %}

{% block breadcrumbs %}Главная{% endblock breadcrumbs %}

{% block content %}
    <div>
        {{ mainpage.getContent|raw() }}
    </div>
{% endblock content%}
{% block side %}
            {% if mainpage.hasActions %}
                <br/>
                <div id="b_u">
                    <p style="color:#ececec;font-size:20px;font-weight:700;border-bottom:1px solid #494949;height: 40px;">АКЦИИ:</p>
                    <p style="color:#afaeae;">Компьютерная диагностика</p>
                    <p style="color:#afaeae;">Ремонт электрооборудования</p>
                    <p style="color:#afaeae;">Установка доп. оборудования</p>
                    <p style="color:#afaeae;">Помощь в приобретении запчастей</p>
                    <p style="color:#afaeae;">Изготовление чип-ключей</p>
                    <p style="color:#afaeae;">Консультации</p>
                </div>
                <br/>
            {% endif %}

            {% if mainpage.hasNews %}
                <br/>
                <div id="b_u">
                    <p style="color:#ececec;font-size:20px;font-weight:700;border-bottom:1px solid #494949;height: 40px;">НОВОСТИ:</p>
                    <p style="color:#afaeae;">Компьютерная диагностика</p>
                    <p style="color:#afaeae;">Ремонт электрооборудования</p>
                    <p style="color:#afaeae;">Установка доп. оборудования</p>
                    <p style="color:#afaeae;">Помощь в приобретении запчастей</p>
                    <p style="color:#afaeae;">Изготовление чип-ключей</p>
                    <p style="color:#afaeae;">Консультации</p>
                </div>
                <br/>
            {% endif %}

            {% if mainpage.hasArticles %}
                <br/>
                {% include '_articles.html.twig' with {'title': 'НОВЫЕ СТАТЬИ'}  %}
            {% endif %}
            {% if serviceGroups %}
                {% include '_services.html.twig' with {'title': 'ВСЕ УСЛУГИ'}  %}
            {% endif %}
{% endblock side %}