<div id="b_u">
    <p style="color:#ececec;font-size:20px;font-weight:700;border-bottom:1px solid #494949;height: 40px;">{{ title }}:</p>
    <ul class="list-unstyled">
        {% for serviceGroup in serviceGroups %}
            <li>{{ serviceGroup.name }}</li>
            <ul>
                {% for service in serviceGroup.services %}
                    {% if service.visible == 1 %}
                        <li><a href="{{ path('service_show', {'serviceGroupSlug': serviceGroup.slug, 'serviceSlug': service.slug}) }}">{{ service.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
<br/>