{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block fos_user_content %}

    <h1>Новая статья</h1>
    <div class="form-group control-group">
    <form action="{{ path("post_new") }}" method="post">
        <div class="col-sm-8">   {{ form_widget(form) }} </div>

        <div class="col-sm-8"> <input type="submit" class="btn btn-primary" value="Создать" /></div>
    </form>
</div>
    {{ tinymce_init() }}
{% endblock %}
